@import "tailwindcss";
@import "uniwind";

@theme {
  --color-diwa-orange: #fba002;
  --color-diwa-olive: #313b2f;
  --color-diwa-cream: #f4ede4;
  --color-diwa-bg: #0d0b0c;
  --color-diwa-surface: #1a1614;
  --color-diwa-muted: #a8a29b;
}
